* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* overall container */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px  30px 1fr;
    margin: 20px auto 0;
    width: 400px;
    height: 600px;
    background-color: #becdd1;
    border: 1px dashed black;
    border-radius: 10px;
    gap: 2px;
    
}
/* title section */
#title {
    text-align: center;
    font-size: 2.5rem;
    margin: 10px 0;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}
/* add task section, with includes button and input */
.add-list {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 95%;
}
#task-added {
    text-align: center;
    width: 73%;
    height: 95%;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 1.05rem;
}
.add-list-btn {
    cursor: pointer;
    font-size: 1.05rem;
    width: 20%;
    height: 95%;
    border-radius: 10px;
    border: 1px solid rgb(97, 94, 94);
    box-shadow: 1px 2px 3px grey;
    margin-right: 10px;
}
.add-list-btn:hover {
    background-color: rgb(217, 230, 241);
}

/* Task css */
#task-list {
    margin: 10px;
}
.task {
    width: 100%;
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
    list-style-type: none;
    font-size: 1.05rem;
}
.exit {
    font-weight: bold;
    float: right;
}